.top{
    position: relative;
    height: calc(100vh - 30rem);
    min-height: 42rem;
    max-height: 57rem;
    margin-bottom: 4rem;
}

.top .bg-image{
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh - 30rem);
    min-height: 42rem;
    max-height: 57rem;
    z-index: -1;
    object-fit: cover;
    width: 100%;

}
.center-content
{
    position: absolute;
    bottom: calc(50% - 11.1rem);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

main .main-logo{
    height: 6rem;
    width: 30rem;
    position: relative;

}

main .top h1
{
    color: white;
    font-weight: 200;
    font-size: 3.6rem;
    text-align: center;
    margin-top: 3rem;

}

main .top .city {
    font-weight: 400;
}

main .top .search-container
{
    background-color: white;
    border-radius: 0.8rem;
    height:5.4rem;
    margin-top: 3.4rem;
    border: 1px solid white;
    align-items: center;
     
}
main .top .search-container input{
    border: none;
    outline: none;
}

main .top .search-container > div{
    display: flex;
    align-items: center;
}

.location {
    width: 24rem;
    padding: 0 1rem;
    justify-content: space-around;
}

.location svg{
    color: rgb(255, 126, 139);
}

main .top .search-container .line {
    width: 0rem;
    height: 2rem;
    border: 0.05rem solid rgb(207, 207, 207);
}

.search {
    width: 53rem;
    display: flex;

}

.search input {
    flex: 1;
}

.search .search-box{
    font-size: 1.7rem;
}
.search .search-icon {
    width: 6rem;
    margin: -1px -0.6rem -1px -1px;
    display: flex;
    justify-content: center;
}

.search input {
    font-size: 1.4rem;

}